<div style="padding: 3%;">
  <h2 style="margin-top: 0;">Sharable Custom Angular Material Grid</h2>
  <app-custom-data-grid
    [gridConfig]="gridConfiguration"
    [displayedColumns]="displayedColumns"
    [dataSource]="Employees"
    [defaultSortColumn]="{ name: 'name', sortDirection: 'asc' }"
    [verticalScrollOffsetInRows]="5"
    [searchOption]="{
      onTwoColumns: ['dob', 'name'],
      searchTextBoxLabel: 'Search by Name'
    }"
    (OnLinkClick)="onNameClick($event)"
    (OnSelectionChange)="onGenderChange($event)"
  ></app-custom-data-grid>
  <div style="display: flex; justify-content: space-evenly; padding-top: 2%;">
    <div *ngIf="selectedEmployee">
      <span>Data emitted by OnLinkClick event:</span>
      <pre>{{ selectedEmployee | json }}</pre>
    </div>
    <div *ngIf="GenderChangeData">
      <span>Data emitted by OnSelectionChange event:</span>
      <pre>{{ GenderChangeData | json }}</pre>
    </div>
  </div>
</div>
