<div style="padding: 3%;">
  <h2 style="margin-top: 0;">Angular Material Grid</h2>
  <custom-data-grid
    [gridConfig]="gridConfiguration"
    [displayedColumns]="displayedColumns"
    [dataSource]="Employees"
    [defaultSortColumn]="{name: 'dob', sortDirection: 'desc'}"
    [verticalScrollOffsetInRows]="5"
    [searchOption]="{onColumn: 'name', searchTextBoxLabel: 'Search by Name'}"
    (OnLinkClick)="onNameClick($event)"
    (OnSelectionChange)="onGenderChange($event)"
  ></custom-data-grid>
</div>