<div style="padding: 3%">
  <h2 style="margin-top: 0">Reusable Custom Angular Material Grid</h2>
  <div style="border: 1px solid rgba(0, 0, 0, 0.12)">
    <app-custom-data-grid
      #employeeGrid
      [gridConfig]="gridConfiguration"
      [displayedColumns]="displayedColumns"
      [dataSource]="employeesDataSource"
      [dataCount]="totalDataCount"
      [verticalScrollOffsetInRows]="5"
      [searchOption]="{
        searchTextBoxLabel: 'Search by Name'
      }"
      [freezeFirstAndLastColumns]="true"
      (linkClick)="onNameClick($event)"
      (selectionChange)="onGenderChange($event)"
      (customTemplateClick)="onCustomTemplateClick($event)"
      (sortOrPageChange)="onSortOrPageChange($event)"
      (searchInputChange)="onSearchInputChange($event)"
    ></app-custom-data-grid>
  </div>

  <div style="display: flex; justify-content: space-evenly; padding-top: 2%">
    <div *ngIf="selectedEmployee">
      <span>Data emitted by linkClick event:</span>
      <pre>{{ selectedEmployee | json }}</pre>
    </div>
    <div *ngIf="GenderChangeData">
      <span>Data emitted by selectionChange event:</span>
      <pre>{{ GenderChangeData | json }}</pre>
    </div>
    <div *ngIf="clickedEmployee">
      <span>Data emitted by customTemplateClick event from {{ customTemplateColumn }} column:</span>
      <pre>{{ clickedEmployee | json }}</pre>
    </div>
  </div>
</div>

<ng-template #homeTownTemplate let-rowData="rowData" let-clickEventHandler="clickEventHandler">
  <span class="home-town-container">
    <span>{{ rowData?.homeTown?.name }}</span>
    <a
      [href]="rowData?.homeTown?.link"
      target="_blank"
      (click)="clickEventHandler({ column: 'homeTown', rowData: rowData })"
    >
      <mat-icon>launch</mat-icon>
    </a>
  </span>
</ng-template>

<ng-template #actionTemplate let-rowData="rowData" let-clickEventHandler="clickEventHandler">
  <button mat-icon-button (click)="clickEventHandler({ column: 'action', rowData: rowData })">
    <mat-icon>more_vert</mat-icon>
  </button>
</ng-template>
